/* Universal Style */

html {
    background-color: white;
}

/* Header */


/* Nav */
header {
    background-color: rgb(221, 221, 221, 0.2);
    
}
nav #navbarNav {
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav a.nav-link {
    color: black;
    font-size: 1.1em;
}
nav a.nav-link:hover{
    color: #9c9c9c;
}


/* Main */




/* Language Tab */
.body-wrapper{
    margin: 0 100px;
}

#confirm-title {
    text-align: center;
    margin: 15px 5px auto;
    padding: 10px;
}

/* Grid 3 columns of booking */
.grid-booking {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.col1, .col2, .col3 {
    margin: 10px 10px;
    padding: 20px;
    border: 1.5px solid rgb(221, 221, 221) ;
    border-radius: 15px;
}

.guest-night{
    display: flex;
}

#main {
    padding: 15px;
    border: 2px solid #9c9c9c;
    border-radius: 10px;
}
@media only screen and (min-width: 300px) and (max-width: 1000px){
    .grid-booking{
        grid-template: 1fr 1fr 1fr/1fr;
    }
}

/* 3d button */
.pushable {
    position: relative;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    transform: translateY(2px);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: rgb(97, 97, 97);
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    background: rgb(184, 184, 184);
    transform: translateY(-4px);
  }
  
  .pushable:hover .front {
    transform: translateY(-6px);
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
  }
  .pushable:active .front {
    transform: translateY(-2px);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }


/* about page */
.pic-profile img{
    height: 580px;
    margin-top: 20px;
    border-radius: 10px;
}
.profile{
    display: flex;
    font-family: Roboto, sans-serif;
}

.info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    
}

.info-profile #name-profile{
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
}

.info-profile #name-profile h3{
    font-weight: 550;
    font-size: 1.9em;
}

.info-container h5.title-info{
    border-bottom: 1.3px solid black;
    padding-bottom: 5px;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 1.3em;
}

.casa-info{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    gap: 20px;
}
.info-container .info{
    font-size: 16px;
}

.info-container .about .info p{
    margin-bottom: 9px;
}


.casa-info .casa-item {
    padding: 10px;
    border: 1.5px solid rgb(221, 221, 221) ;
    border-radius: 15px;
    background-color: rgb(221, 221, 221, 0.2)
}

.casa-info .casa-item:hover {
    padding: 10px;
    border: 1.5px solid rgb(221, 221, 221) ;
    border-radius: 15px;
    background-color: rgb(221, 221, 221, 0.7);
    transform: translate(-1px, -5px);
}
.casa-info .casa-item h6{
    font-weight: 550;
    font-size: 1.2em;
    margin-bottom: 0px;
}

.casa-info .casa-item p{
    margin-bottom: 5px;
}

/* Footer */

footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 12px !important;
    padding-bottom: 15px !important;
    border-top: 1px solid rgb(221, 221, 221) !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: rgb(34, 34, 34) !important;
}

footer p {
    margin: auto !important;
}